* {
    font: 12px "JetBrains Mono";
}

label {
    color: #cdd6f4;
}

.notification-column {
    background: #11111b;
}

.date-column {
    background: #11111b;
}

.calendar {
    padding: 1em;
}

.bar {
    background: #11111b;
}

.bar-container {
    padding: 10px;
}

.spin {
    font-size: 5px;
}

.workspace {
    color: #585b70;
}

.occupied {
    color: #cdd6f4;
}

window.notification-window {
    background: rgba(0, 0, 0, 0);
}

.notifications {
    background: rgba(0, 0, 0, 0);
    padding: 0.5em;
}

.icon {
    min-width: 25px;
    min-height: 25px;
    margin-right: 1em;
}

image.icon {
    font-size: 10px;
    margin: 7.5px;
}

box.icon {
    min-width: 25px;
    min-height: 25px;
}

.notification {
    min-width: 350px;
    padding: 1em;
    margin: 0.5em;
    background: #11111b;
}

.critical {
    border: 1px solid red;
}
