* {
  font-family: "Fira Code Nerd Font";
	background-image: none;
  color: #cdd6f4;
	border: none;
}

window {
  background-color: rgba(12, 12, 12, 0.9);
}

button {
	background-color: #1e1e2e;
  background-repeat: no-repeat;
	background-position: center;
	background-size: 5%;
}

button:hover {
	background-color: #313244;
}

#logout {
  background-image: image(url("./icons/logout.svg"));
}

#suspend {
  background-image: image(url("./icons/suspend.svg"));
}

#shutdown {
  background-image: image(url("./icons/shutdown.svg"));
}

#reboot {
  background-image: image(url("./icons/reboot.svg"));
}
