.tab {
    color: #6c7086 !important;
    background: #11111b !important;
    transition: all 0.25s;
    border-radius: 0 !important;
}

.tab.active {
    color: #cdd6f4 !important;
    background: #181825 !important;
}

.tab-strip {
    background: #11111b;
}
