:root {
    --address-bar-height: 35px;
    --extensions-height: 35px;
}

button.vivaldi {
    display: none !important;
}

/* Mainbar */
.mainbar {
    padding: 0 !important;
    border: 0 !important;
}

.mainbar > div > .toolbar {
    display: flex  !important;
    flex-direction: column !important;
    justify-content: space-between;
    height: calc(var(--address-bar-height) + var(--extensions-height));
}

.UrlBar-AddressField {
    margin: 0 !important;
    border: 0 !important;
    border-radius: 0 !important;
    width: 100%;
    height: var(--address-bar-height);
}

.toolbar-extensions {
    display: flex  !important;
    flex-direction: row !important;
    justify-content: space-around;
    width: 100%;
    height: var(--extensions-height);
}

/* Tabbar */
#tabs-tabbar-container {
    padding: 0 !important;
}
