:root {
    --stack-width: 350px;
    --address-bar-height: 35px;
    --extensions-height: 35px;
}

/*
Hides random SVG
Hides random header
Hides random footer
Hides random span
Hides the Vivaldi button in address bar
Hides the plus button to add a new tab in tab bar
*/
#browser > svg,
#browser > header,
#browser > footer,
#main > .inner > .StatusInfo,
button.vivaldi,
.button-toolbar.newtab,
.toolbar-insideinput
{
    display: none !important;
}

/* Mainbar */
.mainbar {
    position: absolute;
    padding: 0 !important;
    border: 0 !important;
    width: var(--stack-width);
    height: calc(var(--address-bar-height) + var(--extensions-height));
}

.mainbar > div > .toolbar {
    display: flex  !important;
    flex-direction: column !important;
    justify-content: space-between;
    height: calc(var(--address-bar-height) + var(--extensions-height));
}

.UrlBar-AddressField {
    margin: 0 !important;
    border: 0 !important;
    border-radius: 0 !important;
    width: 100%;
    height: var(--address-bar-height);
}

.toolbar-extensions {
    display: flex  !important;
    flex-direction: row !important;
    justify-content: space-around;
    width: 100%;
    height: var(--extensions-height);
}

/* Tabbar */
.tabbar-wrapper > .tabbar-wrapper {
    position: absolute;
    top: calc(var(--address-bar-height) + var(--extensions-height));
    height: calc(100vh - var(--address-bar-height) + var(--extensions-height));
}

.tabbar-wrapper,
#tabs-tabbar-container,
.tab-strip
{
    width: var(--stack-width) !important;
}

#tabs-tabbar-container {
    padding: 0 !important;
}
