/* Add back favicon when a tab is playing audio */
.favicon { transform: scale(1) !important; }
.tab-audio { display: none; }

/*
Hides page title thing
Hides random SVG
Hides random header
Hides random footer
Hides random span
Hides the Vivaldi button in address bar
Hides the plus button to add a new tab in tab bar
*/
#header,
#browser > svg,
#browser > header,
#browser > footer,
#main > .inner > .StatusInfo,
.button-toolbar.newtab {
    display: none;
}
